<a class="item anarchy-button click-roll-attribute-action flex-grow-0"
  title="{{localize labelkey}}" data-action-code="{{code}}">
{{#if icon}}
  {{{icon}}}
{{else}}
  <label>{{localize labelkey}}</label>
{{/if}}
</a>