<div class="attribute-box anarchy-attribute" data-attribute="{{key}}">
  <label class="attribute-label" for="data.attributes.{{key}}.value">
    <a class="click-roll-attribute">
      {{localizeAttribute key}}
    </a>
    <input class="attribute-value" type="number" data-dtype="Number" maxlength="2"
      name="data.attributes.{{key}}.value" value="{{attribute.value}}" />
    <br/>
    <a class="click-roll-attribute">
      {{attribute.total}}
    </a>
  </label>
</div>
