<div class="item anarchy-contact {{#if data.inactive}}inactive{{/if}}" data-item-id="{{_id}}" data-item-type="contact" draggable="true">
  <img class="anarchy-img item-img" src="{{img}}" alt="{{name}}" title="{{name}}"/>
  <span>
    <label>{{name}}</label>
  </span>
  <div class="item-controls">
    {{> 'systems/anarchy/templates/common/item-controls.hbs'}}
  </div>
</div>
