{{#if options.isGM}}
<div class="section-group column">
  <h2 class="section-group-header">
    {{localize 'ANARCHY.common.gmnotes'}}
  </h2>
  <div class="editor actor-editor">
    {{editor
      target="data.gmnotes"
      owner=options.owner
      content=data.data.gmnotes
      button=true
      editable=options.editable}}
  </div>
</div>
{{/if}}