<div class="define-item-type item anarchy-quality {{#if data.positive}}positive{{else}}negative{{/if}} {{#if data.inactive}}inactive{{/if}}" data-item-id="{{_id}}" data-item-type="quality" draggable="true">
  <img class="anarchy-img item-img" src="{{img}}" alt="{{name}}" title="{{name}}"/>
  <div class="item-content">
    <label>{{name}}</label>
    <label class="item-description">
      {{>'systems/anarchy/templates/actor/character/description.hbs' description=data.description}}
    </label>
  </div>
  <div class="item-controls">
    {{> 'systems/anarchy/templates/common/item-controls.hbs'}}
  </div>

</div>
