 <div class="define-item-type item anarchy-shadowamp {{#if data.inactive}}inactive{{/if}}" data-item-id="{{_id}}" data-item-type="shadowamp">
  <img class="anarchy-img item-img" src="{{img}}" alt="{{name}}" title="{{name}}"/>
  <div class="shadowamp-content">
    <label>{{name}}</label>
    <label>({{localize 'ANARCHY.item.shadowamp.levelShort'}} {{data.level}})</label>
    {{#if data.essence}}<label>{{localize 'ANARCHY.item.shadowamp.essenceShort'}} {{data.essence}}</label>{{/if}}
    {{>'systems/anarchy/templates/actor/character/description.hbs' description=data.description}}
  </div>
  <div class="item-controls">
    {{> 'systems/anarchy/templates/common/item-controls.hbs'}}
  </div>

</div>
