<div class="define-item-type item anarchy-skill {{#if data.inactive}}inactive{{/if}}" data-item-id="{{_id}}" data-item-type="skill" draggable="true">
  {{#if img}}
  <img class="anarchy-img item-img" src="{{img}}" alt="{{name}}" title="{{name}}"/>
  {{/if}}
  {{#if (eq data.attribute 'knowledge')}}
  <span title="{{localize 'ANARCHY.attributes.knowledge'}}">
    {{{iconFA 'fas fa-user-graduate'}}}
    <label>{{name}}</label>
  </span>
  {{else}}
    <div class="flexcol">
      <span class="flexrow">
        <a class="click-skill-roll">
        <label>
            {{name}}: {{data.value}} + {{localizeAttribute data.attribute}}
        </label>
        </a>
      </span>
      {{#if data.specialization}}
        <span class="flexrow">
          <a class="click-skill-roll" data-item-specialization="{{data.specialization}}">
            <label>
              ({{data.specialization}}:
              {{sum data.value 2}} + {{localizeAttribute data.attribute}})
            </label>
          </a>
        </span>
      {{/if}}
    </div>
  {{/if}}
  <div class="item-controls">
    {{> 'systems/anarchy/templates/common/favorite.hbs'
      isFavorite=(actorHasFavorite @root.actor.id id=_id type=type)
      skill=this
    }}
    {{> 'systems/anarchy/templates/common/item-controls.hbs'}}
  </div>
</div>
