<li class="define-item-type item anarchy-weapon {{#if data.inactive}}inactive{{/if}}" draggable="true"
    data-item-id="{{_id}}" data-item-type="weapon">
  <div class="weapon-column weapon-img">
    <a class="click-weapon-roll">
      <img class="anarchy-img item-img" src="{{img}}" alt="{{name}}" title="{{name}}"/>
    </a>
  </div>
  <div class="weapon-column weapon-txt">
    <a class="click-weapon-roll">{{name}}</a>
    {{>'systems/anarchy/templates/actor/character/description.hbs' description=data.description}}
  </div>
  <div class="weapon-column weapon-dmg">
    {{> 'systems/anarchy/templates/common/damage-code.hbs'
      damageAttribute=data.damageAttribute
      actorAttribute=(actorAttribute data.damageAttribute @root.actor)
      damage=data.damage
      monitor=data.monitor
      armor=(weaponArmorMode data.monitor data.noArmor)
    }}
  </div>
  <div class="weapon-column weapon-stat">
    {{localize (concat 'ANARCHY.area.' (either data.area 'none'))}}
  </div>
  <div class="weapon-column weapon-stat">
    {{either data.range.short 'OK'}}
    </div>
  <div class="weapon-column weapon-stat">
    {{#unless (eq data.range.max "short")}}
    {{either data.range.medium 'OK'}}
    {{/unless}}
  </div>
  <div class="weapon-column weapon-stat">
    {{#if (eq data.range.max "long")}}
    {{either data.range.long 'OK'}}
    {{/if}}
  </div>
  <div class="weapon-column weapon-controls item-controls">
    {{> 'systems/anarchy/templates/common/favorite.hbs'
      isFavorite=(actorHasFavorite @root.actor.id id=_id type=type)
      weapon=this
    }}
    {{> 'systems/anarchy/templates/common/item-controls.hbs'}}
  </div>

</li>
