<div class="item anarchy-skill {{#if data.inactive}}inactive{{/if}}" data-item-id="{{_id}}" data-item-type="skill" draggable="true">
  {{#if (eq data.attribute 'knowledge')}}
  <span title="{{localize 'ANARCHY.attributes.knowledge'}}">
    {{{iconFA 'fas fa-user-graduate'}}}
    <label>{{name}}</label>
  </span>
  {{else}}
    <div class="flexcol">
      <span class="flexrow">
        <a class="click-skill-roll">
          {{name}}: {{skillValue @root.actor _id}}
        </a>
      </span>
      {{#if data.specialization}}
        <span class="flexrow">
          <a class="click-skill-roll" data-item-specialization="{{data.specialization}}">(
            <label>{{data.specialization}}</label>
            <label>{{specializationValue @root.actor _id}}</label>
          )</a>
        </span>
      {{/if}}
    </div>
  {{/if}}
  <div class="item-controls">
    {{> 'systems/anarchy/templates/common/favorite.hbs'
      isFavorite=(actorHasFavorite @root.actor.id id=_id type=type) skill=this
    }}
    {{> 'systems/anarchy/templates/common/item-controls.hbs'}}
  </div>

</div>
