<select class="info-value" name="data.category">
  {{#select data.data.category}}
  {{> 'systems/anarchy/templates/common/enum-value-label.hbs' entries=ENUMS.vehicleCategories  noEmpty=true}}
  {{/select}}
</select>
