<div class="attribute-box secondary-attribute">
  <label for="data.handling">{{localize ANARCHY.actor.vehicle.handling}}</label>
  <input type="number" data-dtype="Number" maxlength="2"
    name="data.handling" value="{{data.data.handling}}" 
  />
</div>
<div class="attribute-box secondary-attribute">
  <label for="data.moves">{{localize ANARCHY.actor.vehicle.moves}}</label>
  <input type="number" data-dtype="Number" maxlength="2"
    name="data.moves" value="{{data.data.moves}}" 
  />
</div>
<div class="attribute-box secondary-attribute">
  <label for="data.attacks">{{localize ANARCHY.actor.vehicle.attacks}}</label>
  <input type="number" data-dtype="Number" maxlength="2"
    name="data.attacks" value="{{data.data.attacks}}" 
  />
</div>
<div class="attribute-box secondary-attribute">
  <label for="data.stealth">{{localize ANARCHY.actor.vehicle.stealth}}</label>
  <input type="number" data-dtype="Number" maxlength="2"
    name="data.stealth" value="{{data.data.stealth}}" 
  />
</div>
