{{#if (eq mode 'attribute')}}
  {{actor.name}}{{#if item}} - {{item.name}}{{/if}} -
  {{localizeAttribute attribute1}}
  {{~#if attribute2}}+{{localizeAttribute attribute2}}{{/if~}}
{{/if}}
{{#if (eq mode 'attributeAction')}}
  {{localize (concat 'ANARCHY.attributeAction.' attributeAction)}}
{{/if}}
{{#if (eq mode 'defense')}}
  {{localize (concat 'ANARCHY.defense.' defenseAction)}}
{{/if}}
{{#if (eq mode 'skill')}}
  {{actor.name}} - {{skill.name}}
{{/if}}
{{#if (eq mode 'weapon')}}
  {{actor.name}} - {{weapon.name}}
{{/if}}
: {{roll.pool}}