  <div class="form-group">
    <label for="sourceReference">{{localize 'ANARCHY.common.sourceReference'}} </label>
    <input class="item-field-value" type="text" data-dtype="String"
        name="data.sourceReference" value="{{data.data.sourceReference}}" 
        placeholder="{{localize 'ANARCHY.common.sourceReferenceHelp'}}"
    />
  </div>
  <div class="section-group form-group">
    <div class="flexcol">
      <span><label>{{localize 'ANARCHY.common.description'}}</label></span>
      <div class="editor">
        {{editor
          target="data.description"
          owner=options.owner
          content=data.data.description
          button=true
          editable=options.editable}}
      </div>
    </div>
  </div>

{{#if options.isGM}}
  <div class="section-group form-group">
    <div class="flexcol">
      <span><label>{{localize 'ANARCHY.common.gmnotes'}}</label></span>
      <div class="editor">
        {{editor
          target="data.gmnotes"
          owner=options.owner
          content=data.data.gmnotes
          button=true
          editable=options.editable}}
      </div>
    </div>
  </div>
{{/if}}
