{{#if (eq armor 'avoidArmor')}}
<span title="{{localize 'ANARCHY.item.weapon.noArmor'}}">{{{iconFA 'fas fa-user-times'}}}</span>
{{else if (eq armor 'withArmor')}}
<span title="{{localize 'ANARCHY.item.weapon.withArmor'}}">{{{iconFA 'fas fa-user-shield'}}}</span>
{{/if}}
