<a class="item-control click-item-edit" title="{{localize ANARCHY.common.edit}}">
  {{{iconFA 'fas fa-edit'}}}
</a>
<a class="item-control click-item-delete" title="{{localize ANARCHY.common.del}}">
  {{{iconFA 'fas fa-trash'}}}
</a>
