<form class="{{options.cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="anarchy-img profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}"/>
    {{> 'systems/anarchy/templates/item/parts/itemname.hbs'
      labelkey='ANARCHY.itemType.singular.skill'
      type="skill"
    }}
  </header>
  <section class="sheet-body">
    <div class="form-group">
      <input class="item-field-value check-knowledge" type="checkbox" {{checked options.isKnowledge}}>
        {{localize 'ANARCHY.attributes.knowledge'}}
      </input>
    </div>
    {{#unless options.isKnowledge}}
    <div class="form-group">
      <label for="data.value">{{localize 'ANARCHY.item.skill.value'}} </label>
      <input class="type-numeric" type="number" name="data.value" value="{{data.data.value}}" data-dtype="Number"/>
    </div>
    <div class="form-group">
      <label for="data.attribute">{{localize 'ANARCHY.item.skill.attribute'}} </label>
      <select class="item-field-value" name="data.attribute" data-dtype="String">
        {{#select data.data.attribute}}
        {{> 'systems/anarchy/templates/common/enum-value-label.hbs' entries=ENUMS.attributes}}
        {{/select}}
      </select>
    </div>
    <div class="form-group">
      <label for="data.specialization">{{localize 'ANARCHY.item.skill.specialization'}} </label>
      <input class="item-field-value" type="text" data-dtype="String"
          name="data.specialization" value="{{data.data.specialization}}"
          placeholder="{{localize 'ANARCHY.item.skill.specializationHelp'}}"
      />
    </div>
    <div class="form-group">
      <input name="data.isSocial" class="item-field-value" type="checkbox" {{checked data.data.isSocial}}>
        {{localize 'ANARCHY.item.skill.isSocial'}}
      </input>
    </div>
    <div class="form-group">
      <input name="data.hasDrain" class="item-field-value" type="checkbox" {{checked data.data.hasDrain}}>
        {{localize 'ANARCHY.item.skill.hasDrain'}}
      </input>
    </div>
    <div class="form-group">
      <input name="data.hasConvergence" class="item-field-value" type="checkbox" {{checked data.data.hasConvergence}}>
        {{localize 'ANARCHY.item.skill.hasConvergence'}}
      </input>
    </div>
    <div class="form-group">
      <label>{{localize 'ANARCHY.item.skill.copyDefault'}} </label>
      <select class="select-skill-code" data-dtype="String">
        {{> 'systems/anarchy/templates/common/enum-value-label.hbs' entries=ENUMS.skills}}
      </select>
    </div>
    <div class="form-group">
      <label for="data.code">{{localize 'ANARCHY.item.skill.code'}}</label>
      <input class="item-field-value" type="text" name="data.code" value="{{data.data.code}}" data-dtype="String"/>
    </div>
    {{/unless}}
    {{> 'systems/anarchy/templates/item/parts/inactive.hbs'}}
    {{> 'systems/anarchy/templates/item/parts/references.hbs'}}
  </section>

</form>
