{{#if skill.img}}
<img class="anarchy-img skill-img flex-shrink" src="{{skill.img}}" alt="{{skill.name}}" title="{{skill.name}}"/>
{{/if}}
{{#unless (eq skill.img weapon.img)}}
<img class="anarchy-img weapon-img flex-shrink" src="{{weapon.img}}" alt="{{weapon.name}}" title="{{weapon.name}}"/>
{{/unless}}